:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
}



*{
    padding:0;
    margin: 0;

}
header{
    background:#0d1f0a ;
    color:white;
    display: flex;
    justify-content: space-around;
  align-items: center;
  padding: 24px 0;
}


.Cabeçalho-imagem{
    width: 14%;
}
.Cabeçalho-lista-item{
text-decoration:none;
display: inline-block;
margin: 0 16px;
padding: 20px 0;
font-size: 24px 0;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


} 

.tecnologia-imagem{
    width: 24%;
}
.tecnologia{
    background-image: linear-gradient(#002400,#053b03,#083a05);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.tecnologia-div-conteudo{
width: 35;
}
.tecnologia-titulo{
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px 0;
    margin: 0 16px;

}
.tecnologia-subtitulo{
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 24px 0;
    margin: 0 16px;

}
.tecnologia-texto-um{
    padding: 24px 0;
    font-size: 20px;
    margin: 0 16px;

}

.tecnologia-imagem{
    width: 24%;
}
.agricultura{
    background-image: linear-gradient(#193e13,#0a5206,#0e4f09);
    
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:24px 0;
  
   

}
.agricultura-imagem-um{
    width: 24%;
    margin: 0 16px;
}


.agricultura-div-conteudo{
    width: 35;
}

.agricultura-titulo{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px 0;
    margin: 0 16px;

}

.agricultura-subtitulo{
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px 0;
    margin: 0 16px;

}

.agricultura-texto-um{
    padding: 24px 0;
    margin: 0 16px;
    font-size: 20px;
}


    .container-botao{
        background-color:var(--cor-de-fundo);
        border-radius: 5px;
        padding: 1em;
        color: var(--branco-principal);
        display: block;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
       
       
    }

.agricultura-precisao{
  background-image: linear-gradient(#0e4f09,#14670d,#1b7f12);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    
}

.agricutura-precisao-div-conteudo{
    width: 35;
}

.agricultura-precisao-titulo{
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px 0;
    margin: 0 16px;
}

.agricultura-precisao-texto-um{
    padding: 24px 0;
    margin: 0 16px;
    font-size: 20px;
}

.agricultura-precisao-texto-dois{
    padding: 24px 0;
    margin: 0 16px;
    font-size: 20px;
}


.container-botao-um{
    background-color: var(--cor-de-fundo);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
   
}

.agricultura-precisao-imagem-um{
    width: 24%;
    margin: 0 16px;
}

.agricultura-precisao-imagem-dois{
    width: 20%;
}

.perguntas{
    background-image: linear-gradient(#1c7f12,#2e8e22,#3f9e31);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    
}

.perguntas-titulo{
    color: white;
    text-size-adjust:0 16;
    padding: 20px 0;
    margin: 0 16px;
    
}
.container-botao-dois{

    background-color: var(--cor-de-fundo);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
  
}


.rodape{
background-color: black;
text-align: center;
}
.rodape-imagem{
    height: 60px;
    padding: 12px 0;
}
